doctype html
html
  head
    title Openwt Boats
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href='stylesheets/style.css')
    link(rel='stylesheet' href='app/boatsView/boatsView.css')
    link(rel='stylesheet' href='lib/bootstrap/dist/css/bootstrap.min.css')

    script(src="lib/jquery/dist/jquery.min.js")
    script(src="lib/bootstrap/dist/js/bootstrap.min.js")
    script(src="lib/angular/angular.min.js")
    script(src="lib/angular-ui-router/release/angular-ui-router.min.js")

    script(src="app/app.js")
    script(src="app/constants.js")
    script(src="app/loginView/loginView.js")
    script(src="app/navbarView/navbarView.js")
    script(src="app/boatsView/boatsView.js")

    base(href="/")

  body(ng-app="starter")
    block content
    div(ui-view="navbar")
    div(ui-view)