body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btnboat {
  position: absolute;
  right: 2%;
  top: 50%;
  height: 50%;
  border-radius: 10px;
  transform: translate(0, -50%);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.list-group-item:hover .btnboat{
  visibility: visible;
  opacity: 1;
}