<div class="container">
  <h2>A simple list of boats</h2>
  <div class="list-group">
    <a class="list-group-item"
       ng-repeat="boat in boats track by boat.boat_id">
      <h3>{{boat.boat_name}} - {{boat.boat_year}}</h3>
      <button ng-click="delete(boat)" class="btnboat btn-danger">Delete</button>
    </a>
  </div>
</div>

<div class="section">
  <button id="addboat" class="btn-primary" data-toggle="modal" data-target="#addBoatModal">+</button>
</div>

<div id="addBoatModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New boat form</h4>
      </div>
      <form ng-submit="submit()">
        <div class="modal-body">
          <div class="form-group">
            <label for="boatName">Boat name</label>
            <input type="text" ng-model="boatName" class="form-control" id="boatName" placeholder="Boat name">
          </div>
          <div class="form-group">
            <label for="releaseDate">Release date</label>
            <select class="form-control" id="releaseDate">
              <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>