<nav>
  <div class="nav-wrapper">
    <a href="/boats" class="brand-logo">Boats</a>
    <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="side-nav" id="mobile-nav">
      <li><a ng-click="creationBoat()" ui-sref="createBoatView">Create</a></li>
      <li><a ng-click="logout()" ui-sref="loginView">logout</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li><a ng-click="creationBoat()" ui-sref="createBoatView">Create</a></li>
      <li><a ng-click="logout()" ui-sref="loginView">Logout</a></li>
    </ul>
  </div>
</nav>
